.wp-block-jcore-grid {
  background-color: rgba(100, 100, 100, 0.1);
  padding: 0.5rem;
  > div > div {
    display: grid;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  @for $i from 1 through 6 {
    &.columns-#{$i} > div > div {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}
