:root {
  --jcore-column-min: 360px;
}
.jgrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--jcore-column-min), 100%), 1fr)
  );
  @for $i from 1 through 6 {
    &.columns-#{$i} {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}
.jflex {
  display: flex;
  flex-wrap: wrap;
  > div {
    min-width: min(var(--jcore-column-min), 100%);
    flex-grow: 1;
  }
  @for $i from 1 through 6 {
    &.columns-#{$i} > div {
      width: calc(100% / $i);
      min-width: unset;
      flex-grow: 0;
    }
  }
}
